<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Country" value="South Africa" />
    <add key="GoogleMapsKey" value="ABQIAAAAK9tQekA72xZ5LB5rz3EdqRRgM8-0iY9x7ymr0pCKOWi6X20VfxRHo_--Gpbc0Z8j4Dcm6yneLBOovQ" />
  </appSettings>
  <connectionStrings>
    
  <add name="UniversalEntities" connectionString="metadata=res://*/Data.Model1.csdl|res://*/Data.Model1.ssdl|res://*/Data.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Universal;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>